<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Service Rates</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Services are offered on a sliding scale. Sliding scale provides clients a choice of how much to pay within a range. This helps keep services accessible and provides an opportunity to show extra appreciation. Any payment within the range is acceptable and there is no expectation of additional payment.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">60 minutes: $90 - $120<br/>
75 minutes: $105 - $135<br/>
90 minutes: $120 - $150<br/>
</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                                   <h2 class="section-subheading">Outcalls & Add-Ons</h2> 
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">You can receive full service bodywork at your home or office for a small fee. The fee helps cover the costs of travel to and from the service. PLEASE NOTE: Outcall fees are always waived if I am providing more than one massage..</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">San Francisco and Peninsula - $25<br/>
Oakland and East Bay - $30<br/>
</p>
                </div>
            </div>
        </div>
    </section>
