<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <p>My name is Jenny Valentine, and I am a massage therapist working in the SF Bay Area. I practice with an integrative deep-tissue approach designed to be therapeutic and easy to receive. 
                    </p>
                    <p>After nearly a decade working in technology, I was weary of the office and I needed to find a hands on approach to helping others. I sought out a way to connect during the isolation of the pandemic and found my passion in bodywork.
                    </p>
                    <p>I attended the SF School of Massage and Bodywork, where I studied an anatomically focused curriculum based in western modalities. After graduating in June 2022, I stayed close to the school by enrolling in the TA program, helping to train the next generation of bodyworkers.</p>
                    <p>Today I work with all kinds of clients, and I specialize in serving the disabled and queer communities.</p>
                </div>
                <div class="col-md-6">
                    <img class="about-img" src="{{ site.baseurl }}/img/jenny.jpg">
                </div>
                
            </div>
        </div>
    </section>